.theme2 {
      /* general  */
      --color-logo: hsl(245, 58%, 51%);
      --color-bg-color: hsl(245, 58%, 51%);
      --color-text: hsl(245, 58%, 51%);
      --color-border: hsl(245, 58%, 51%);
      --color-bg-outlet: hsl(245, 58%, 51%);
      --color-bg-dashboard: hsl(0, 0%, 100%);
      --color-text-dashboard: hsl(0, 0%, 15%);
      /* side nav  */
      --color-bg-sideNav: hsl(245, 58%, 51%);
      --color-sideNav-text: hsl(0, 0%, 100%);
      --color-active-nav-text: #000000;
      /* top nav  */
      --color-bg-topNav: hsl(307, 65%, 50%);
      --color-topNav-text: hsl(0, 0%, 100%);
      --color-topNav-secondery-text: hsl(0, 0%, 100%);
      /* profile  */
      --color-bg-profile: hsl(245, 58%, 51%);
      --color-profile-text: hsl(0, 0%, 100%);
      --color-profile-text-hover: hsl(0, 0%, 100%);
      --color-profile-border-hover: hsl(0, 0%, 100%);
      --color-profile-border: hsl(255, 85%, 48%);
      --color-profile-secondery-text: hsl(0, 0%, 100%);
      /* table  */
      --color-table-head-bg: #7f95ff;
      --color-table-head-text: #030a26;
      --color-table-body-text: #081654;
      --color-table-hover: #110083;
      --color-table: #c5cae9;
      --color-table-border: #2206c1;
      /* button  */
      --color-button-bg: #7f95ff;
      --color-button-text: #ffffff;
      --color-button-hover: #3d40ed;
      --color-button-muted: #5c5ea8;
      /* form  */
      --color-form-bg: #ffffff;
      --color-form-text: #000000;
      --color-form-label-text: #000000;
      /* loader  */
      --color-loader-bg: #ffffff;
      --color-loader-border: #5200bb;
}